<header  class="container">
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <div class="col-4 d-flex justify-content-start align-items-center">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo2.png" alt="Bootstrap" height="40">
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
 
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="link-secondary" href="#" aria-label="Search">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>
              </div>
        </div>
    </nav>
    <hr class="my-0 py-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-0 py-0">
        <ul class="navbar-nav mx-auto">
            <% categories.forEach( category => { %>
                <li class="nav-item px-0" style="font-weight: bold; color:black;">
                    <a class="nav-link" href="/category/<%= category.slug %>"> <%= category.title %></a>
                </li>
            <% }) %>
        </ul>
    </nav>
    <hr class="my-0 py-0">
</header>



